USE [master]
GO
/****** Object:  Database [Ranch]    Script Date: 3/28/2021 10:11:51 PM ******/
CREATE DATABASE [Ranch]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ranch', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Ranch.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Ranch_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Ranch_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Ranch].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Ranch]
GO
/****** Object:  User [RanchAppUser]    Script Date: 3/28/2021 10:11:51 PM ******/
CREATE USER [RanchAppUser] FOR LOGIN [RanchAppUser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [RanchAppUser]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/28/2021 10:11:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[UserPassword] [nvarchar](50) NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[DateCreated] [date] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [UserName], [UserPassword], [FirstName], [LastName], [DateCreated]) VALUES (1, N'ttyczka', N'Blue', N'Taylor', N'Tyczka', CAST(N'2021-03-28' AS Date))
INSERT [dbo].[Users] ([UserID], [UserName], [UserPassword], [FirstName], [LastName], [DateCreated]) VALUES (2, N'ntyczka', N'Red', N'Nick', N'Tyczka', CAST(N'2021-03-28' AS Date))
INSERT [dbo].[Users] ([UserID], [UserName], [UserPassword], [FirstName], [LastName], [DateCreated]) VALUES (3, N'kfischer', N'Green', N'Katie', N'Fischer', CAST(N'2021-03-28' AS Date))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
USE [master]
GO
